
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
	    background:url(https://ikakika.github.io/unit_3/images/Oregon.jpg);
	    background-repeat: no-repeat;
		font-family:'Lato', sans-serif;
		font:25px;
		}

h1, p{
	font-family: 'Amatic SC', sans-serif;
    color: white;
	text-align: center;
	font-family:'Amatic SC', sans-serif;

 }

#subtitle {
	font-family:'Lato', sans-serif;
	color:#000;
	line-height: 0px;
}

#menu {
	background-color: black;
	color: white;
	margin:10px;
	padding:5px;
	text-align:left;
	font-weight:100;
	font-size:12px;
	letter-spacing:.3em;
	line-height:35px;
	padding-left: 15px;
}